<nav th:fragment="header">
    <div class="nav-wrapper white grey-text text-darken-3">
        <a href="#!" class="brand-logo">
            <img alt="tiiko papas site icon"
                 th:src="${imagesHostUrl} + '/c_scale,w_130/v1631325352/tiikopapas-horizontal-logo.png'">
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <div class="input-field">
                    <input type="text" id="search-autocomplete-input" class="autocomplete" >
                    <a id="search-link" href="#">
                        <i id="search-icon" class="material-icons prefix text">search</i>
                    </a>
                </div>
            </li>
            <li>
                <a class="dropdown-trigger" href="#" data-target="languages"><i class="material-icons text">language</i></a>
                <ul id="languages" class="dropdown-content">
                    <li><a class="not-clickable" href="#!" th:text="#{language.change}"></a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a id="es" href="#!" th:text="#{language.es}" class="select-lang"></a></li>
                    <li><a id="en" href="#!" th:text="#{language.us}" class="select-lang"></a></li>
                </ul>
            </li>
            <li><a href="mobile.html"><i class="material-icons text">menu</i></a></li>
        </ul>
    </div>
</nav>
